@charset "utf-8";
/* CSS by dvL-den */

body {
	background: url("../img/background.jpg") repeat 0 0;
}

/*------------------------------------------------------------------------------------/ HEADER STARTS */
#header {
	background-color: rgba(0, 0, 0, 0.50);
	height: 115px;
	margin: 0 auto;
	position: relative;
	width: 100%;
}

#header-light {
	background-color: rgba(255, 255, 255, 0.1);
	height: 52px;
	margin: 0 auto;
	position: absolute;
	width: 100%;
}

#header #header-content {
	height: 105px;
	margin: 0 auto;
	position: relative;
	width: 469px;
	padding: 5px 0;
}

#logo {
	background: url("../img/logo.png") no-repeat 50% 0;
	position: relative;
	margin: 0 auto;
	width: 100%;
	height: 100%;
}

#header-sep {
	background: url("../img/sep.png") repeat-x 0 0;
	position: absolute;
	margin: 0 auto;
	width: 100%;
	height: 20px;
	bottom: -2px;
}
/*------------------------------------------------------------------------------------/ HEADER ENDS */
/****************************************************************************************************/
/*---------------------------------------------------------------------------------/ CONTENT STARTS */
section#wrapper {
	background-color: rgba(0, 0, 0, 0.60);
	position: relative;
	height: auto;
	width: 830px;
	margin: 0 auto;
	padding-top: 30px;
}

#video-holder {
	width: 680px;
	margin: 0 auto;
	position: relative;
}

#article {
	position: relative;
	width: 770px;
	margin: 0 auto;
	height: auto;	
}

#article p {
	padding-top: 20px;
}

#columns {
	margin: 0 auto;
	position: relative;
	height: auto;
	width: 770px !important;
}

section#column1 {
	float: left;
	height: 160px;
	margin: 0 10px;
	width: 190px;
}

#column2 {
	float: left;
	height: 160px;
	margin: 0 65px;
	width: 220px;
}

#column3 {
	float: right;
	height: 160px;
	margin: 0 10px;
	width: 190px;
}

#column4 {
	height: 160px;
	margin: 0 auto;
	width: 500px;
	padding-top: 180px;
}

.spacing {
	width: auto;
	height: 300px;	
}

.column-title {
    height: auto;
    text-align: center;
	padding-bottom: 10px;
}

.column-description {
	height: auto;
	position: relative;
	text-align: center;
	width: 100%;
}

.column-content {
    height: 58px;
    position: relative;
    text-align: center;
    top: 30px;
}

.share-position {
	height: 22px;
	margin: 0 auto;
	width: 69px;
	position: relative;
}

#share {
	background: url("../img/share.png") no-repeat 0 0;
	height: 22px;
	margin: 0 auto;
	position: relative;
	width: 69px;
	top: 6px;
}

#share:hover {
	background-position: 0 -24px;
}

a.like { 
    opacity: 0.6;
    padding: 0 0;
	position: relative;
	top: 7px;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-khtml-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
}

a.like:hover {
    opacity: 1.0;
}

#open {
	background: url("../img/open.png") no-repeat 0 0;
	position: absolute;
	height: 22px;
	width: 35px;
	right: 2px;
	z-index: 11;
	top: -22px;
}

#open:hover {
	background-position: 0 -24px;
}

#get-it {
    height: 45px;
    margin: 0 auto;
    position: relative;
    top: 359px;
    width: 170px;
}

.proceed-holder {
	margin: 0 auto;
	position: relative;
	width: 110px;
}

.proceed2-holder {
	margin: 0 auto;
	position: relative;
	width: 110px;
}

#proceed {
	height: 34px;
	margin: 0 auto;
	position: absolute;
	width: 110px;
}

#proceed2 {
	height: 34px;
	margin: 0 auto;
	position: absolute;
	width: 110px;
	top: 0px;
}

.button {
	background: url("../img/download.png") no-repeat 0 0;
	width: 110px;
	height: 34px;
	margin: 0 auto;
	position: relative;
}

.button2 {
	background: url("../img/download.png") no-repeat 0 0;
	width: 110px;
	height: 34px;
	margin: 0 auto;
	position: relative;
	cursor: pointer;
}

.button2:hover {
	background: url("../img/download.png") no-repeat 0 -36px;
}

#separator {
	background: url("../img/separator.png") no-repeat;
	position: relative;
	height: 40px;
	width: 803px;
	margin: 0 auto;
}

#list {
	text-align: center;
	margin: 0 auto;
	width: 100%;
	height: auto;	
}

#intro-text {
	position: relative;
	width: 800px;
	padding: 0 0 0 15px;
	text-align: center;
}
/*-----------------------------------------------------------------------------------/ CONTENT ENDS */
/****************************************************************************************************/
/*-----------------------------------------------------------------------------------> FOOTER START */
* {margin: 0;}
html, body {height: 100%;}
	.container {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto; /* Set footer height. */
}

	footer, .push {
	height: 40px; /* Set footer height. */
	/* clear: both; */ /* Muti-column fix.*/
}

	footer {
	background-color: rgba(0, 0, 0, 0.50);
}

#footer-light {
	background-color: rgba(255, 255, 255, 0.1);
	height: 20px;
	margin: 0 auto;
	position: absolute;
	width: 100%;
}

.footer-items {
	position: relative;
	width: 100%;
	margin: 0 auto;
	height: 100%;
}

#footer-sep {
	background: url("../img/sep.png") repeat-x 0 0;
	position: absolute;
	margin: 0 auto;
	width: 100%;
	height: 20px;
	top: -18px;
}

#copyrights-holder {
	position: relative;
	margin: 0 auto;
	width: 950px;
	height: 0;
}

#copyrights {
	position: absolute;
	width: auto;
	top: 15px;
}

#sponsors {
	background: url("../img/sponsors.png") no-repeat;
	position: absolute;
	width: 314px;
	height: 27px;
	right: 0px;
	top: 10px;
}

.resize {
	width: 210px !important;
	height: 50px !important;
	opacity: 0.6;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-khtml-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
}

.resize:hover {
	opacity: 1;	
}

.clearfix {
	background: none;
	position: relative;
	height: 40px;
}
/*-------------------------------------------------------------------------------------> FOOTER END */
/****************************************************************************************************/
/*--------------------------------------------------------------------------------> OVER-RIDE START */
.fb_edge_widget_with_comment .fb_iframe_widget {
	display: none !important;
}
/*----------------------------------------------------------------------------------> OVER-RIDE END */